@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto+Slab:wght@300&display=swap');
$headlineFont: 'Roboto Condensed', sans-serif;
$textFont: 'Roboto Slab', sans-serif;
$space_unit: 12px;
$main_color: #111111;

html, body{
  color: $main_color;
  font-family: $textFont;
}

h1, h2, h3{
  font-family: $headlineFont;
}
h1{
  font-size: 1.75em;
  margin: 2 * $space_unit 0 3 * $space_unit;
}
h2{
  font-size: 1.25em;
  margin: $space_unit 0 2 * $space_unit;
}
